---
layout: page
title: About Me
permalink: /about/
---

<p>Welcome, I am a DevOps Technical Consultant based in Auckland, New Zealand. My background is as
  a SysAdmin, but I now specialise in Automation/Orchestration and DevOps with self-hosted and
  cloud infrastructure.</p>

<p>My current focus is to help teams and organisations advance their systems building and management
  with automation. Constructing and deploying infrastructure with automated processes accelerates
  the speed at which you can deploy systems, but also allows you do this reliably, repeatedly,
  decreasing the chance of human error. Infrastructure as code allows the testing of system deployments
  and will allow SysAdmin teams the time to focus on improvements to the infrastructure rather than
  fire fighting day-to-day problems.</p>

<p>Over the time of my career I have spent many on-call hours and nights debugging systems and
  fixing problems due to config changes and differences. I am passionate about automation as a
  process and workflow to improve overall systems management and well-being. Teams or individuals
  should not be mired down in fixing configs.</p>

<p>This blog is to document items I have been working on or discovered over the the course of
  projects. Hopefully it can help people. I am all about disseminating knowledge.</p>

<p>Outside of work I keep myself busy with motorcycles, motorsport, guitar playing, and RPG/tabletop
  games. I also delve into electronics hackery, with PC and VR gaming when I can find the time.</p>

<ul>
  <li><b>Expertise Areas</b>: SaaS Platforms/Technologies, Large scale cloud infrastructure, Config Management, Build Pipelines, Deployment Automation, Monitoring/Alerting, Support</li>
  <li><b>Cloud Providers</b>: Amazon Web Services, Microsoft Azure, Digital Ocean</li>
  <li><b>Build Systems</b>: Jenkins, TeamCity, Bamboo, GoCD</li>
  <li><b>Containers/Virtualisation</b>: Docker, Packer, VirtualBox, VMWare, KVM, OpenStack, OpenShift</li>
  <li><b>Automation/Config Management</b>: Ansible, Puppet, Cloudforms, Terraform</li>
  <li><b>Platforms</b>: Windows Server, Linux, OSX, CoreOS</li>
  <li><b>Version Control</b>: Github, Gitlab, Bitbucket, SVN</li>
  <li><b>Language/Scripting</b>: Python, Ruby, Bash, Powershell, Perl</li>
</ul>


<h3>Contact Me</h3>
<p>
  James Morgan<br>
  DevOps Technical Consultant/Senior Systems Adminsitrator<br>
  <ul>
    {% if site.footer-links.email %}<li><a href="mailto:{{ site.footer-links.email }}">Email</i></a></li>{% endif %}
    {% if site.footer-links.github %}<li><a href="https://github.com/{{ site.footer-links.github }}">Github</a></li>{% endif %}
    {% if site.footer-links.linkedin %}<li><a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">Linkedin</a></li>{% endif %}
    {% if site.footer-links.twitter %}<li><a href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a></li>{% endif %}
    {% if site.footer-links.stackoverflow %}<li><a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">StackOverflow</a></li>{% endif %}
  </ul>
</p>
